<div> home View </div>

{{homeData}}

<form role="form">
    <div class="row container-fluid">
        <div class="col-lg-3">
            <div class="form-group">
                <label for="inputdefault">Default input</label>
                <input ng-model="homeData.Default" class="form-control" id="inputdefault" type="text">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="inputlg">input-lg</label>
                <input ng-model="homeData.large" class="form-control input-lg" id="inputlg" type="text">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="inputsm">input-sm</label>
                <input ng-model="homeData.small" class="form-control input-sm" id="inputsm" type="text">
            </div>
        </div>
    </div>
</form>

<div>
    <div>
        <!-- NOTE: remove 'animation-class': 'toast-top-center' if you want it on the left top corner -->
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
        <button class="btn btn-primary" style="margin: 150px 0 0 150px;" ng-click="pop()">Show toasts</button>
        <br />
        <button class="btn btn-danger" style="margin: 10px 0 0 150px;" ng-click="clear()">Clear toasts</button>
    </div>
</div>

<script type="text/ng-template" id="toasterBodyTmpl.html">
    <p>Render a default template!</p>
</script>

<script type="text/ng-template" id="myTemplate.html">
    <p>Render a custom template! {{bar}}</p>
</script>

<script type="text/ng-template" id="myTemplateWithData.html">
    <p>Here it is! {{toaster.data}}</p>
</script>


<button type="button" ui-sref="course" class="btn btn-primary">Next</button>


<button ng-click="reload()" data-ui-sref="home" data-ui-sref-opts="{reload: true}">Reset</button>



