/*  Written By: Vineet
    media querry for screen resolution below 1330px.
    All css for this resolution are mentioned below  */

.sidebar:hover + .body {
    left: 200px;
}

.is-active{
    background-color: rgb(28,153,218);
}

.middle {
    position: absolute;
    height: auto;
    width: auto;
    right: 0;
    top: 14%;
    bottom: 0;
    left: 0;
}

.body {
    border: 0px solid blue;
    position: absolute;
    height: auto;
    width: auto;
    left: 40px;
    right: 0;
    top: 0;
    bottom: 0;
}

 .navigationBar {

        border: 3px solid black;
        position: fixed;
        height: 17%;
        left: 0;
        right: 0;
        top: 0;
        z-index:1;
    }
.sidebar {
    border: 0px solid blue;
    top:0%;
    margin-top:7%;
    position: fixed;
    height: auto;
    min-width: 40px;
    right: auto;
    left: 0px;
    bottom: 0;
}

/*  Written By: Vineet
    media querry for screen resolution above 1330px.
    All css for this resolution are mentioned below  */
@media(min-width: 1330px) {
  .is-active{
    background-color: rgb(28,153,218);
}
    .navigationBar {

        border: 3px solid black;
        position: fixed;
        height: 17%;
        left: 0;
        right: 0;
        top: 0;
        z-index:1;
    }

    .body {
        margin-top:7%;
        position: absolute;
        height: auto;
        width: 100%;
        left: 200px;
        right: 0;
        bottom: 0;
        text-align-last:100%/2
 
    }

    .middle {
        margin-top:0%;
        position: absolute;
        height: auto;
        width: 70%;
        left: 0;
        right: 0;
        bottom: 0;

    }

    .sidebar {
        margin-top:6.7%;
        border: 0px solid blue;
        position: fixed;
        width: 30%;
        left: 0;
        right: auto;
        bottom: 0;
    }
}
