

<div class="container-fluid">
    <div class="row container">
        <div class="md-col-12">
            <div ui-view="nav"></div>
        </div>
    </div>
</div>

    <div class="container-fluid">
        <div class="container">
            <div class="md-col-4">
                <div ui-view="sidebar"></div>
            </div>
            <div class="md-col-12">
                <div ui-view="body"></div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row container">
            <div class="md-col-12">
                <div ui-view="footer"></div>
            </div>
        </div>
    </div>
